@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: large;
  background-color: #1d1d1d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  min-width: 500px;
}

.headerLeft {
  flex: 1;
  padding: 1rem;
}
.headerLeft:hover {
  color: #04ff43 !important;
}

.headerMiddle {
  flex: 1;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #04ff43;
  transition: text-shadow 0.5s ease, scale 0.1s ease;
  animation: glow 3s infinite;
}
.headerMiddle:hover {
  scale: 110%;
  color: #04ff43 !important;
}

.headerRight {
  flex: 1;
  padding: 1rem;
  text-align: right;
}
.headerRight:hover {
  color: #04ff43 !important;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0;
  }
  50% {
    text-shadow: 0 0 20px #04ff43;
  }
  100% {
    text-shadow: 0 0 0;
  }
}
.content {
  max-width: 1030px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.seachUl {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  position: relative;
  padding: 14px 15px;
  cursor: pointer;
  animation: flyUp 0.5s forwards;
}
li:hover .closeButton {
  visibility: visible;
}

.searchLi {
  width: 400px;
  background-color: rgb(41, 41, 41);
  border-radius: 10px;
  margin: 5px 0;
}
.searchLi:hover {
  background-color: #252525;
}

.searchItems {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

aside {
  min-width: 280px;
  align-items: center;
  padding: 1rem;
}

.closeButton {
  z-index: 2;
  position: absolute;
  padding: 5px;
  top: 5px;
  right: 5px;
  visibility: hidden;
  cursor: pointer;
  font-size: large;
  background-color: rgb(54, 54, 54);
  border-radius: 5px;
}
.closeButton:hover {
  background-color: rgb(85, 85, 85);
}

img {
  width: 100%;
  border-radius: 8px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #04ff43;
}
a:active {
  opacity: 50%;
}
a:hover img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.205);
}

.artist {
  color: rgb(173, 173, 173);
  font-size: 1rem;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.1s ease, padding 0.1s ease;
  background-color: #1ab327;
  color: #fff;
}
button:hover {
  background-color: #0f8b2e;
}
button:active {
  background-color: #0c5c20;
}
button:disabled {
  background-color: #000000;
  color: #666666;
  cursor: not-allowed;
}

input {
  padding: 7px 10px;
  font-size: 16px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  border-color: #ffffff;
  outline: none;
  background-color: #ffffff;
  transition: border-color 0.3s ease;
  margin: 5px;
}
input:focus {
  border-color: #1ab327;
}

.searchBubble {
  margin-bottom: 0;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}

form div {
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: rgb(82, 20, 20);
  color: white;
}

tbody tr:hover {
  background-color: rgba(245, 245, 245, 0.062);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin: 10px 0;
  background-color: #2e2e2e;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.link-box:hover {
  background-color: #2f4133;
}

.link-box h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.admin-link {
  color: red;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fly-up {
  opacity: 0;
  animation: flyUp 0.5s forwards;
}

@keyframes flyUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fly-down {
  opacity: 0;
  animation: flyDown 0.5s forwards;
}

@keyframes flyDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.yt-link {
  position: relative;
}
.yt-link::before {
  content: "▶";
  position: absolute;
  left: -25px;
  opacity: 0;
}
.yt-link:hover::before {
  opacity: 1;
}

.user-bubble {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #04ff43;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 500;
  color: #1d1d1d;
  flex-shrink: 0;
  box-shadow: 0 0 10px #04ff43;
  animation: pulse-glow 4s infinite;
}

@keyframes pulse-glow {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px #04ff43;
  }
  50% {
    transform: scale(1.07);
    box-shadow: 0 0 10px #04ff43;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px #04ff43;
  }
}
.user-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin: 30px;
}

.entity-class {
  align-items: center;
}

.notification {
  background-color: rgb(75, 68, 38);
  box-shadow: 0 0 20px rgb(75, 68, 38);
}
.notification:hover {
  background-color: rgb(87, 80, 45);
}
.notification:active {
  background-color: rgb(75, 68, 38);
}

.gray {
  background-color: #2b2b2b;
}

.notification-card {
  background-color: rgb(75, 68, 38);
  box-shadow: 0 0 20px rgb(75, 68, 38);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-text {
  margin: 10px 0;
}

.notification-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.friends-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.friend-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}/*# sourceMappingURL=index.css.map */